.uc-r-main {
  border: 1px solid #efefef;
}
.uc-r-main .orderColorRed {
  color: red;
}
.uc-r-main .progress {
  width: 630px;
  height: 20px;
  margin: 50px auto 30px auto;
}
.uc-r-main .progress li {
  float: left;
}
.uc-r-main .progress .text {
  width: 16px;
  height: 16px;
  border: 2px solid #208fdd;
  border-radius: 50%;
  position: relative;
}
.uc-r-main .progress .text span {
  position: absolute;
  width: 120px;
  text-align: center;
  top: -30px;
  left: -50px;
}
.uc-r-main .progress .text.active {
  background: #208fdd;
}
.uc-r-main .progress .text.active span {
  color: #208fdd;
}
.uc-r-main .progress .line {
  width: 285px;
  height: 2px;
  background: #208fdd;
  margin-top: 9px;
}
.uc-r-main .title {
  height: 90px;
  background: #e9f6ff;
  position: relative;
  padding-left: 115px;
}
.uc-r-main .title .text i {
  background: url(../images/icon.png) -73px -1773px;
  position: absolute;
  left: 40px;
  width: 60px;
  height: 60px;
  top: 15px;
}
.uc-r-main .title .text h2 {
  height: 90px;
  line-height: 90px;
  font-size: 18px;
  color: #555;
}
.uc-r-main .title .text h2 .payMgs {
  color: #208fdd;
}
.uc-r-main .title .text h2 .sqwq {
  color: #208fdd;
  font-size: 14px;
  margin-left: 20px;
  font-weight: normal;
}
.uc-r-main .title .qrcode {
  margin: -15px 0px 0px 0px;
}
.uc-r-main .title .qrcode #codes {
  display: inline-block;
}
.uc-r-main .title .qrcode a {
  color: #208fdd;
}
.uc-r-main .list_mgs > h2 {
  padding: 33px 0 15px 18px;
  font-size: 18px;
  color: #333;
  font-weight: normal;
  border-bottom: 1px solid #efefef;
}
.uc-r-main .list_mgs .orderMgs {
  overflow: hidden;
  padding: 5px 0 0 45px;
}
.uc-r-main .list_mgs .orderMgs .orderList1 {
  float: left;
  width: 280px;
}
.uc-r-main .list_mgs .orderMgs .orderList2 {
  float: left;
  width: 203px;
}
.uc-r-main .list_mgs .orderMgs .orderList3 {
  float: left;
  width: 420px;
}
.uc-r-main .list_mgs .orderMgs li {
  margin-top: 15px;
}
.uc-r-main .list_mgs .goodsMgs {
  padding: 10px 20px 20px 20px;
}
.uc-r-main .list_mgs .goodsMgs h3 {
  margin-left: -8px;
  font-weight: normal;
  margin-bottom: 10px;
}
.uc-r-main .list_mgs .goodsMgs p {
  padding: 10px 0 3px 0px;
}
.uc-r-main .list_mgs .goodsMgs .panel {
  background: #eff0f1;
  padding: 2px 25px 5px;
}
.uc-r-main .list_mgs .goodsMgs .panel li {
  line-height: 35px;
  float: left;
  width: 286px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uc-r-main .list_mgs .imgDemo {
  padding: 24px 0 0 38px;
}
.uc-r-main .list_mgs .imgDemo img {
  vertical-align: top;
}
.uc-r-main .list_mgs .imgDemo p {
  text-align: center;
  margin-top: 20px;
}
.uc-r-main .buyer_android .title,
.uc-r-main .buyer_ios .title {
  height: 185px;
}
.uc-r-main .failure_pay .title {
  height: 110px;
}
.uc-r-main .failure_pay .title i {
  background-position: -74px -1948px;
  height: 61px;
}
.uc-r-main .failure_pay .title .descript {
  margin-top: -15px;
}
.uc-r-main .unPay .title {
  height: 170px;
}
.uc-r-main .unPay .title i {
  background-position: -74px -1860px;
}
.uc-r-main .unPay .title .operation {
  margin: -15px 0 20px 0;
  height: 38px;
  line-height: 38px;
}
.uc-r-main .unPay .title .operation .goPay {
  width: 110px;
  height: 38px;
  display: inline-block;
  text-align: center;
  color: #fff;
  background: #208fdd;
  margin: 0 10px;
}
.uc-r-main .unPay .title .operation .cancelOrder {
  color: #208fdd;
  cursor: pointer;
}
.uc-r-main .cancel .title {
  height: 115px;
}
.uc-r-main .cancel .title i {
  background-position: -74px -1860px;
}
.uc-r-main .cancel .title .reason {
  margin-top: -15px;
  font-size: 16px;
}
