.xb-footer {
  background: #3d3d3d;
  overflow: hidden;
  padding: 30px 0 20px;
  color: #a1a1a1;
  margin-top: 20px;
}
.xb-footer .logo {
  width: 280px;
  height: 65px;
  line-height: 65px;
  text-indent: 10000px;
  display: inline-block;
  overflow: hidden;
  margin-top: 35px;
  float: left;
  background: url(../../images/logo1.png) no-repeat center center;
}
.xb-footer .left-menu {
  margin-left: 350px;
  margin-right: 240px;
  overflow: hidden;
}
.xb-footer .left-menu dl {
  float: left;
  width: 33.3%;
  font-size: 12px;
}
.xb-footer .left-menu dl dt {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}
.xb-footer .left-menu dl dd {
  line-height: 2.2em;
}
.xb-footer .left-menu dl dd a {
  color: #a1a1a1;
}
.xb-footer .left-menu dl dd a:hover {
  color: #fff;
}
.xb-footer .fr-contact {
  width: 240px;
  float: right;
  text-indent: 25px;
  line-height: 28px;
}
.xb-footer .fr-contact .btn {
  background: #208fdd;
  margin-top: 10px;
  color: #fff;
  text-indent: 0;
  width: 90px;
  line-height: 26px;
  border-radius: 0;
}
.xb-statement {
  background: #3d3d3d;
  border-top: 1px solid #555;
  padding: 20px 0 40px;
  line-height: 32px;
  color: #a1a1a1;
}
.xb-statement .fri-link a {
  margin: 0 15px;
}
.xb-statement a {
  color: #a1a1a1;
}
.xb-statement a:hover {
  color: #fff;
}
.xb-statement .p-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url(../../images/home-icon_01.png) no-repeat -271px -26px;
  vertical-align: middle;
  margin: 0 6px;
}
.xb-statement .hy-icon {
  display: inline-block;
  margin: 20px 20px 0;
  background: url(../../images/ft-01.png) no-repeat center center;
}
.xb-statement .hy-icon.hy-icon01 {
  background-image: url(../../images/ft-01.png);
  width: 62px;
  height: 65px;
}
.xb-statement .hy-icon.hy-icon02 {
  background-image: url(../../images/ft-02.png);
  width: 43px;
  height: 48px;
}
.xb-statement .hy-icon.hy-icon03 {
  background-image: url(../../images/ft-03.png);
  width: 129px;
  height: 49px;
}
.xb-statement .hy-icon.hy-icon04 {
  background-image: url(../../images/ft-04.png);
  width: 39px;
  height: 53px;
}
