<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>租号平台_租号玩_虚贝网</title>
    <meta http-equiv="keywords" content="LOL租号，LOL租号平台，英雄联盟租号，租号玩">
    <meta http-equiv="description" content="虚贝网是国内专业的LOL租号平台，提供全区全服英雄联盟 游戏账号出租，上万个高端极品账号供您选择，想要租号玩就来虚贝网！">
    <link rel="icon" href="//static.xubei.com/assets/images/fav-icon.png" />
    <link href="./css/common/basic.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./css/helpCenterGuide.css">
</head>

<body>
<div class="xb-component-header" data-des="组件" activeNav="0"></div>
    <div class="main w1200">
        <!-- 搜索框 B -->
        <div class="search">
            <input class="fl" type="text" placeholder="关键字搜索">
            <div class="btn fl"></div>
        </div>
        <!-- 搜索框 E -->

        <!-- 搜索问题 B -->
        <div class="searchInfo">

        </div>
        <!-- 搜索问题 E -->

        <!-- 常用服务 B -->
        <div class="commonService">
            <div class="tit f18 x-fw">常用服务</div>
            <div class="content">
                <div class="">
                    <img src="./images/help/qus.png" alt="">
                    <div class="desc f18 x-fw">常见问题</div>
                    <div class="sss">
                    </div>
                    <div class="sss"></div>
                    <div class="sss">
                    </div>
                </div>
                <div class="">
                    <img src="./images/help/sale_help.png" alt="">
                    <div class="desc f18 x-fw">卖家帮助</div>
                    <div class="sss"></div>
                    <div class="sss"></div>
                    <div class="sss">
                    </div>
                </div>
                <div class="mgr-0">
                    <img src="./images/help/m_help.png" alt="">
                    <div class="desc f18 x-fw">买家帮助</div>
                    <div class="sss"></div>
                    <div class="sss"></div>
                    <div class="sss">
                    </div>
                </div>
                <div class="">
                    <img src="./images/help/money.png" alt="">
                    <div class="desc f18 x-fw">账户与资金</div>
                    <div class="sss"></div>
                    <div class="sss"></div>
                    <div class="sss"></div>
                </div>
                <div class="">
                    <img src="./images/help/s_qus.png" alt="">
                    <div class="desc f18 x-fw">上号器问题</div>
                    <div class="sss"></div>
                    <div class="sss"></div>
                    <div class="sss">
                    </div>
                </div>
                <div class="mgr-0">
                    <img src="./images/help/Agreement.png" alt="">
                    <div class="desc f18 x-fw">条款协议</div>
                    <div class="sss"></div>
                    <div class="sss"></div>
                    <div class="sss">
                    </div>
                </div>
            </div>
        </div>
        <!-- 常用服务 E -->

        <!-- 联系我们 B -->
        <div class="callMe">
            <div class="tit f18 x-fw">联系我们</div>
            <div class="content">
                <div>
                    <img src="./images/help/service.png" alt="">
                    <p>客服QQ</p>
                    <div>客服QQ：<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NTM3MF80NzI2NTNfODAwMDU1MzcwXzJf">800055370</a></div>
                    <div>出租客服：<span><a class="f14" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NTM3MF80NzI2NTNfODAwMDU1MzcwXzJf">QQ交谈</a></span></div>
                    <div>出租客服：<span><a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDA1NTM3MF80NzI2NTNfODAwMDU1MzcwXzJf">QQ交谈</a></span></div>
                </div>
                <div>
                    <img src="./images/help/join_qq.png" alt="">
                    <p>招商合作QQ</p>
                    <div>加盟分站QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=2094925133&site=qq&menu=yes">2094925133</a></div>
                    <div>加盟分销QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=305750821&site=qq&menu=yes">305750821</a></div>
                </div>
                <div>
                    <img src="./images/help/Operate.png" alt="">
                    <p>运营合作</p>
                    <div>Email：<a href="javascript:;">taomin@xubei.com</a></div>
                    <div>运营QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=690882818&site=qq&menu=yes">690882818</a></div>
                </div>
                <div class="mgr-0">
                    <img src="./images/help/coop.png" alt="">
                    <p>市场合作</p>
                    <div>Email：<a href="javascript:;">linshunrong@xubei.com</a></div>
                    <div>市场QQ：<a href="http://wpa.qq.com/msgrd?v=3&uin=446125668&site=qq&menu=yes">446125668</a></div>
                </div>
            </div>
        </div>
        <!-- 联系我们 E -->
    </div>



<div class="xb-component-footer" data-des="组件"></div>
</body>
<script src="./js/lib/require.min.js"></script>
<script src="./js/xb-home-config.js"></script>
<script src="./js/helpCenterGuide.js"></script>
<script id="getKeyWordBottom" type="text/x-handlebars-template">
    <ul>
        {{each list as item i}}
        <li><span></span><a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}">{{item.article_title}}</a></li>
        {{/each}}
    </ul>
    <a href="./helpCenterContent.html" >查看更多问题</a>
</script>
<script id="getCommonMenu" type="text/x-handlebars-template">
    <div class="">
        <img src="./images/help/qus.png" alt="">
        <div class="desc f18 x-fw">{{result[0].menu_name}}</div>
        <div class="sss">
            {{each result[0].list as item i}}
            {{if i % 2 == 0}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a>
            {{else}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a><br>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="">
        <img src="./images/help/sale_help.png" alt="">
        <div class="desc f18 x-fw">{{result[1].menu_name}}</div>
        <div class="sss">
            {{each result[1].list as item i}}
            {{if i % 2 == 0}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a>
            {{else}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a><br>
            {{/if}}
            {{/each}}
        </div>

    </div>
    <div class="mgr-0">
        <img src="./images/help/m_help.png" alt="">
        <div class="desc f18 x-fw">{{result[2].menu_name}}</div>
        <div class="sss">
            {{each result[2].list as item i}}
            {{if i % 2 == 0}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a>
            {{else}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a><br>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="">
        <img src="./images/help/money.png" alt="">
        <div class="desc f18 x-fw">{{result[3].menu_name}}</div>
        <div class="sss">
            {{each result[3].list as item i}}
            {{if i % 2 == 0}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a>
            {{else}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a><br>
            {{/if}}
            {{/each}}
        </div>

    </div>
    <div class="">
        <img src="./images/help/s_qus.png" alt="">
        <div class="desc f18 x-fw">{{result[4].menu_name}}</div>
        <div class="sss">
            {{each result[4].list as item i}}
            {{if i % 2 == 0}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a>
            {{else}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a><br>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="mgr-0">
        <img src="./images/help/Agreement.png" alt="">
        <div class="desc f18 x-fw">{{result[5].menu_name}}</div>
        <div class="sss">
            {{each result[5].list as item i}}
            {{if i % 2 == 0}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a>
            {{else}}
            <a href="./helpCenterDetails.html?menuId={{item.menu_id}}&articleId={{item.article_id}}" target="_blank"><span>{{item.article_title}}</span></a><br>
            {{/if}}
            {{/each}}
        </div>
    </div>

</script>
</html>